@font-face {
    font-family: 'Biko Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Biko Regular'), url('../src/fonts/biko/Biko_Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Biko Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Biko Bold'), url('../src/fonts/biko/Biko_Bold.otf') format('opentype');
}

main{
    display: flex;
}

#search.big-search {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    gap: 20px;

    #search-bar {
        font-size: 30px;
        margin-left: 20px;
        width: 60%;
        height: 64px;
        bottom: 10%;
        top: auto;
        left: 15%;
        border-radius: 32px;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }

    div {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    }

    button {
        background-color: #f0f0f0;
        font-size: 20px;
        width: 256px;
        height: 64px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

.not-found {
    top: 40%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 65%;
    font-family: 'Biko Regular';
    color: rgba(0, 0, 0, 0.705);
    display: none;

    .ops {
        font-family: 'Biko Bold';
        font-size: 200px;
        text-align: center;
    }


    div {
        gap: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70%;
        width: 100%;
    }

    span {
        display: block;
        font-size: 55px;
        text-align: center;
    }
}

#search {
    display: flex;
    gap: 5px;
    position: fixed;
    top: 94px;
    left: 24px;
}

#search-bar {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
    border: 2px solid #ccc;
}

#search div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

#search button,
#search a {
    gap: 5px;
    text-decoration: none;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
    &:hover {
        background-color: #e0e0e0;
    }
}

#search .search-span {
    display: none;
}
.container-usuarios{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    height: fit-content;
    margin-top: 50px;
}

.usuarios {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.perfilGuia{
    background-color: #f9f9f963;
    backdrop-filter: blur(2px);
    width: 200px;
    height: 250px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.2);
    padding: 20px;
}

.perfilMotorista{
    background-color: #f9f9f963;
    backdrop-filter: blur(2px);
    width: 200px;
    height: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(180, 180, 180, 0.2);
    padding: 40px;
    margin-bottom: 20px;
}
   
.perfil img {
    object-fit: cover;
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h3 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
h3 a:hover {
    color: #757575;
    text-decoration: underline;
}

p {
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .container-usuarios {
        width: 90%;
    }
}