body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#error {
    height: 50px;
    color: red;
    margin-bottom: 10px;
    display: none;
    padding: 10px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #0277bd; /* Dark blue text */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0277bd; /* Dark blue text */
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0277bd; /* Dark blue border */
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0277bd; /* Dark blue background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #01579b; /* Darker blue on hover */
}
